/*
.VPHome {
  // 自定义首页背景图
  &::before {
    // 图片来源：https://zhuanlan.zhihu.com/p/54060187
    background-image: url(./assets/bg.webp);
    background-size: cover;
  }
  // 定义遮罩样式
  background: radial-gradient(
    ellipse,
    rgba(var(--bg-gradient-home), 1) 0%,
    rgba(var(--bg-gradient-home), 0) 150%
  );
}
*/
 .el-avatar {
  --el-avatar-text-color: var(--el-color-white);
  --el-avatar-bg-color: var(--el-text-color-disabled);
  --el-avatar-text-size: 14px;
  --el-avatar-icon-size: 18px;
  --el-avatar-border-radius: var(--el-border-radius-base);
  --el-avatar-size-large: 56px;
  --el-avatar-size-small: 24px;
  --el-avatar-size: 40px;
  align-items: center;
  background: transparent;
  box-sizing: border-box;
  color: var(--el-avatar-text-color);
  display: inline-flex;
  font-size: var(--el-avatar-text-size);
  height: var(--el-avatar-size);
  justify-content: center;
  overflow: hidden;
  text-align: center;
  width: var(--el-avatar-size);
}
.el-avatar > img {
  display: block;
  height: 100%;
  width: 100%;
}
.el-avatar--circle {
  border-radius: 0px;
}
.el-avatar--square {
  border-radius: var(--el-avatar-border-radius);
}
.el-avatar--icon {
  font-size: var(--el-avatar-icon-size);
}
.el-avatar--small {
  --el-avatar-size: 24px;
}
.el-avatar--large {
  --el-avatar-size: 56px;
}

